{% block content %}
    {% if errors is defined %}
        {% for error in errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        <div>
            <label for="title">Titre de votre article </label>
            <input type="text" name="title" id="title" required />
        </div>
        <div>
            <label for="hometitle">Titre de votre article depuis la home</label>
            <input type="text" name="hometitle" id="hometitle" required />
        </div>
        <div>
            <label for="description">Description de votre article </label>
            <textarea id="description" rows="5" name="description" required></textarea>
        </div>
        <div>
            <label for="introduction">Introduction de votre article </label>
            <textarea id="introduction" rows="5" name="introduction" required></textarea>
        </div>
        <div>
            <label for="detail">Le corps de votre article </label>
            <textarea id="detail" rows="10" name="detail" required></textarea>
        </div>
        <div>
            <label for="homepreview">Courte description de votre article pour la home</label>
            <textarea id="homepreview" rows="10" name="homepreview" required></textarea>
        </div>
        <div>
            <label for="category">Choix de la catégorie </label>
            <select name="category">
                {% for category in categories %}
                    <option value="{{ category.id }}"> {{ category.categoryName }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="author">Choix de l'auteur </label>
            <select name="author">
                {% for author in authors %}
                    <option value="{{ author.id }}"> {{ author.firstName }} {{ author
                        .lastName }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="status">Choix du statut </label>
            <select name="status">
                <option value="1">Brouillon</option>
                <option value="2">Publié</option>
                <option value="3">Archivé</option>
            </select>
        </div>
        <div>
            <label for="imageUpload">Télécharger votre image d'article</label>
            <input type="file" name="imageUpload" id="imageUpload" required/>
        </div>
        <div>
            <input id="validate" type="submit" value="Valider">
        </div>
    </form>
    <a id="cancel" href="/admin/articles/" >Annuler</a>

{% endblock %}
