{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/article.css">
{% endblock %}

{% block content %}
    <main>
        <section class="content-width body_text">
            <h1 id="article_title">
                {{ article.articleTitle }}
            </h1>

            <p class="content-width article_P">
                {{ article.description }}
            </p>
        </section>
        <section id="img_section">
            <img id="article_img" src="{{ article.imgSrc
            }}" alt="{{ article.altImg }}" />
        </section>

        <section class="content-width body_text">
            <h2 class="body_title">Introduction</h2>
            <p class="article_P">
                {{ article.introduction }}
            </p>

            <h2 class="body_title">Le détail</h2>
            <p class="article_P">
                {{ article.detail|raw }}
                {{ classname }}
            </p>
        </section>

        <a href="/about_us" id="author_section" class="content-width">
            <aside id="left_author">
                <img id="author_img" src="assets/images/authors/{{ author.imgSrc }}" alt="Photo de l'auteur {{ author
                .firstName }}
{{ author.lastName }}" />
                <h3 id="author_name">{{ author.firstName }} {{ author.lastName }}</h3>
            </aside>
            <article id="right_author">
                <h3 id="author_title_desc">A propos de l'auteur :</h3>
                {{ author.shortDescription|raw }}
            </article>
        </a>
    </main>
{% endblock %}
